.create-voting-title {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
    width: 100%;
    padding-top: 20px;
}

.create-name-voting {
    width: 500px;
}

.create-input-voting,
.survey-input-name {
    margin-top: 10px;
}

.create-voting-item {
    margin-bottom: 30px;
}

.create-date-voting {
    width: 300px;
}

.field-large {
    min-height: 15rem;
}

.create-text-voting {
    min-width: 700px;
}

.create-voting-content-list {
    position: absolute;
    width: 800px;
    /* height: 300px; */

    left: calc(50% - 400px);
    margin-top: 70px;
}

.survey-content-item {
    width: 100%;
    /* height: 300px; */
    /* border: 1px solid rgb(14 10 2 / 50%); */
    margin-bottom: 40px;
    background: #fbffff;
    border-radius: 10px;
    padding: 20px 15px;
}

.survey-input-name {
    width: 350px;
}

.survey-type-select {
    width: 250px;
}

.item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.survey-underline {
    color: rgb(15 15 15/ 50%);
}

/* .survey-list {
    margin-left: 30px;
} */

.create-subtitle {
    margin-left: 30px;
}

.answer-list {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}

.answer-input-item {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
    /* margin-left: -5px; */
}

.add-answer {
    margin: 0 auto;
    display: flex;
    width: max-content;
    padding: 5px;
}

.add-answer-icon {
    font-size: 25px;
    /* margin-left: -55px; */
}

.add-answer:hover,
.add-survey-icon:hover {
    cursor: pointer;
}

.add-answer:active,
.add-survey-icon:active {
    color: rgb(15 15 15/ 50%);
}

.add-survey-icon {
    font-size: 40px;
}

.add-survey {
    border: 1px solid rgb(15 15 15/ 50%);
    background-color: #fbffff;
    border-radius: 10px;
}

.add-answer-btn {
    background-color: #fbffff;
    /* color: #151515;

    border: 1px solid #151515;
    border-radius: 10px; */
}

.btn-create-voting {
    width: max-content;
    margin: 0 auto;
}
/* .submit-voting-app-form button {
    color: #151515;
    background: #FBFFFF;
    border: 1px #151515 solid;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
} */
