.sidebar {
    height: max-content;
    width: 180px;
    background-color: #fcffff;
    border-radius: 10px;
    position: absolute;
}

.sidebar-item-icon {
    font-weight: 300;
    margin-right: 5px;
}

.sidebar-item-icon:hover {
    cursor: pointer;
}

.sidebar-item {
    display: flex;
    margin: 15px 0;
    margin-left: -15px;
}

.sideber-item-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar-auth {
    margin-top: 30px;
}

.sidebar-create-voting,
.sidebar-create-application {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.sidebar span.sideber-item-name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
}
