/* .header-name{
    font-family: 'Inter';

    color:#AAD576;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    line-height: 25px;
    margin-right: 40px;
}

.mat-toolbar {
    background-color: #F6FFFF;
    color: #151515;
    margin-top: 40px !important;
    padding-left: 100px !important;
}

.sign-in, .sign-up{
    border: inherit;
    background-color: inherit;
    font-size: 16px;
    color: #151515;
}

.btn-sign-box{
    margin: 0 50px;
}

.btn-sign-box span{
    font-size: 16px;
    color: #151515;
}

.sign-in:hover, .sign-up:hover {
    background-color: #C2EDCE;
    border-radius: 7px;
} */


/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fbffff;
  overflow-x: hidden;
}

.mat-tab-label-content {
  color: #151515;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #6fb3b8;
}

.mat-form-field-label {
  color: #151515 !important;
  opacity: 80% !important;
}

.mat-form-field-infix {
  width: 230px !important;
}

.mat-form-field-appearance-fill .mat-form-field-ripple {
  bottom: 0 !important;
  height: 2px !important;
}

.mat-form-field-ripple {
  position: absolute;
  left: 0;
  width: 100%;
  transform-origin: 50%;
  transform: scaleX(0.5);
  opacity: 0;
  transition: background-color 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
  background-color: #6fb3b8;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  /* background-color: rgb(118 118 118 / 10%); */
  background-color: inherit;
  border: 1px solid rgb(15 15 15 / 50%);
  /* border-radius: 0 !important; */
}

.mat-form-field.mat-form-field-invalid.mat-focused .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #f44336;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #6fb3b8;
}

/* .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker{

} */

.mat-focused .mat-form-field-required-marker {
  color: #6fb3b8;
}

.mat-step-header .mat-step-icon {
  background-color: #6fb3b8;
  color: #fff;
}

.mat-step-header .mat-step-label {
  color: #151515;
  opacity: 70%;
  font-family: Inter;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: #151515;
  opacity: 100%;
  font-family: Inter;
}

.mat-stepper-vertical-line:before {
  border-left-color: #151515;
  opacity: 30%;
}

.header-bottom {
  color: #151515;
  opacity: 10%;
}

.container {
  width: calc(100% - 200px);
}

li {
  list-style-type: none;
}

.lazy-load-content:hover {
  text-decoration: underline;
}

.lazy-load-content {
  font-family: Manrope;
  font-weight: 500;
  font-size: 20px;
  margin-right: 10px;
}

.lazy-load-icon {
  margin: 0 auto;
}

.user-menu {
  background-color: #fbffff;
}

.mat-menu-item {
  color: #151515;
  width: 194px;
}

.mat-menu-item:hover {
  background-color: #f3f7f7 !important;
}

.mat-select-panel{
  background: #FBFFFF !important;
}