.voting-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.voting-list li {
  width: calc((100% / 3) - 30px);
  margin-bottom: 20px;
}

.voting-lazy-load {
  margin: 25px auto;
  width: max-content;
  display: flex;
  align-items: center;
}

.voting-lazy-load:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

.voting-list-title {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
  width: 100%;
}
