<div>
    <div>
        <div class="intro-content">
            <div>
                <img class="main-photo" src="/assets/images/main_photo.png" />
            </div>

            <div class="rigth-box">
                <span class="intro-title"
                    >Добрый день, опишите тему вашей проблемы</span
                >
                <div class="user-request">
                        <tui-combo-box
                            [formControl]="control"
                            [valueContent]="value"
                            [(search)]="search"
                    >
                            Например: ЖКХ, дороги, медицина
                            <input tuiTextfield placeholder="" (input)="nextSearch()"/>
                            <ng-template #value let-item>
                            </ng-template>
                            <ng-template tuiDataList>
                                <tui-data-list emptyContent="Ничего не найдено">
                                    <button *ngFor="let item of (modelSubj$ | async)?.list" tuiOption
                                        [routerLink]=""item.url>
                                        <div class="option-item">
                                            <span class="option-item__group">{{item.group}}</span>
                                            <span>{{item.title}}</span>
                                        </div>
                                    </button>
                                </tui-data-list>
                            </ng-template>
                            <ng-template #loading>
                                ...
                            </ng-template>
                        </tui-combo-box>

                    <!-- <button mat-flat-button class="user-send-request">Поиск</button> -->
                </div>
            </div>
        </div>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>
