<!-- <div class="question-block">
    <span class="question-block-title">Вопрос</span>

</div> -->

<cdk-accordion class="question-block-list">
    <cdk-accordion-item
        [ngClass]="{
            open: accordionItem.expanded,
            close: !accordionItem.expanded
        }"
        *ngFor="let faq of faqList; let index = index"
        #accordionItem="cdkAccordionItem"
        class=""
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index"
    >
        <div
            class="example-accordion-item-header question-block-item"
            (click)="accordionItem.toggle()"
        >
            {{ faq.question }}
            <span class="example-accordion-item-description"></span>
            <span class="material-icons question-icon-open"> add </span>
        </div>
        <div
            class="example-accordion-item-body answer-block"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
        >
            {{ faq.answer }}
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Perferendis excepturi incidunt ipsum deleniti labore, tempore non
            nam doloribus blanditiis veritatis illo autem iure aliquid ullam rem
            tenetur deserunt velit culpa?
        </div>
    </cdk-accordion-item>
</cdk-accordion>
