<app-navbar></app-navbar>
<div class="auth-form">
    <form class="auth-box">
        <h2 class="auth-title-form">Вход</h2>

        <mat-form-field class="login-input-box" appearance="fill">
            <mat-label>Введите ваш адрес электронной почты</mat-label>
            <input
                type="email"
                matInput
                [formControl]="loginFormControl"
                placeholder="rezh@duma.ru"
                #userEmail
            />
            <mat-error
                *ngIf="loginFormControl.hasError('email') && !loginFormControl.hasError('required')"
            >
                Некорректный адрес эл. почты
            </mat-error>
            <mat-error *ngIf="loginFormControl.hasError('required')">
                <span>Обязательное поле</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="pass-input-box" appearance="fill">
            <mat-label>Введите ваш пароль</mat-label>
            <input
                type="password"
                matInput
                [formControl]="passFormControl"
                placeholder="uKd13Ry"
                #userPass
            />
            <mat-error *ngIf="passFormControl.hasError('required')">
                <span>Обязательное поле</span>
            </mat-error>
        </mat-form-field>

        <div class="section-btn">
            <a class="forgot-pass">Не помню пароль</a>
            <a (click)="gotoRegistry()" class="to-registry">Зарегистрироваться</a>
        </div>

        <button
            (click)="authService.signIn(userEmail.value, userPass.value)"
            type="submit"
            class="btn-join"
        >
            Войти
        </button>
    </form>
</div>
