<div class="">
    <div class="voting-box">
        <h2 class="voting-title">Голосования</h2>
        <!-- <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Поиск</mat-label>
                <input matInput placeholder="Ярмарка" value="SearchVoting" />
            </mat-form-field>
        </div> -->
        <app-voting-plate-list class="voting-list"></app-voting-plate-list>
        <div class="voting-lazy-load">
            <span class="lazy-load-content">Загрузить ещё</span>
            <mat-icon class="lazy-load-icon">south</mat-icon>
        </div>
    </div>
</div>
