.signup-form {
    margin-top: 60px !important;
    font-family: Inter !important;
    font-weight: 400 !important;
    width: 500px;
    margin: 0 auto;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
    background-color: #f6ffff;
}

.signup-title-form {
    font-family: Manrope;
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.btn-nav {
    border: inherit;
    font-family: Manrope;
    background-color: #f6ffff;
    opacity: 85%;
    padding: 0 16px;
    line-height: 36px;
    background-color: #c2edce;
    border-radius: 4px;
    margin-right: 10px;
}

.btn-nav:hover {
    background-color: #a8ebbb;
}

.signup-box {
    /* background-color: #bdd9c57a; */
    border-radius: 10px;
}

.btn-signup {
    border: inherit;
    font-family: Manrope;
    background-color: #f6ffff;
    opacity: 85%;
    padding: 0 16px;
    line-height: 36px;
    background-color: #c2edce;
    border-radius: 4px;
    margin-right: 10px;
}

.deputy-registry {
    color:#151515;
    cursor: pointer;
}

.to-auth {
    color: #151515;
    margin-left: 30px;
    cursor: pointer;
}

/*  */
.signup-form {
    /* border: solid 1px; */
    /* min-width: 150px;
    max-width: 450px; */
    width: 600px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-family: Inter;
    font-weight: 400;
    /* padding-bottom: 50px; */
}

.signup-box {
    background-color: #fcffff;
    padding: 50px 100px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.auth-title-form {
    font-family: Manrope;
    font-weight: 400;
    /* margin-left: 15px; */
    margin-bottom: 70px;
}

.login-input-box,
.pass-input-box {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
}

.login-input-box {
    margin-bottom: 20px;
}

/* .pass-input-box{
    margin-bottom: 15px; 
} */

.auth-form input::placeholder {
    color: rgb(0, 0, 0, 50%);
}

.forgot-pass {
    cursor: pointer;
    color: #151515;
    margin-left: 15px;
    margin-top: 15px;
    display: block;
}

.header-bottom {
    color: #151515;
    opacity: 10%;
}

.btn-join {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    background-color: #c2edce;
    border: inherit;
    border-radius: 5px;
    padding: 15px 20px;
}

.btn-join:hover {
    background-color: #acecbe;
}
