<div>
    <div>
        <xng-breadcrumb></xng-breadcrumb>
    </div>
    <ng-container class="app-detail-box" *ngIf="modelSubj$ | async as model">
        <div class="app-detail-data">
            <div class="app-detail-status">
                <span class="app-detail-subtitle">Статус заявки: </span>
                <span class="app-detail-item-content app-detail-status-content"
                    >{{ model.status }}</span
                >
            </div>

            <div class="app-detail-author">
                <span class="app-detail-subtitle">Автор: </span>
                <span class="app-detail-item-content app-detail-author-content"
                    >{{ model.author }}</span
                >
            </div>

            <div class="app-detail-date">
                <span class="app-detail-subtitle">Дата обращения: </span>
                <span class="app-detail-item-content"
                    >{{ model.createdAt | date: "dd.MM.YYYY"}}</span
                >
            </div>

            <div class="app-detail-place">
                <span class="app-detail-subtitle">Откуда: </span>
                <span class="app-detail-item-content"
                    >{{ model.location }}</span
                >
            </div>

            <div class="app-detail-place">
                <span class="app-detail-subtitle">Место обращения: </span>
                <span class="app-detail-item-content"
                    >{{ model.locationName }}</span
                >
            </div>

            <div class="app-detail-text">
                <span class="app-detail-subtitle">Текст обращения: </span>
                <span class="app-detail-text-content"
                    ><p class="app-detail-item-content">
                        {{ model.text }}
                    </p></span
                >
            </div>

            <!-- <div class="app-detail-reply" *ngIf="model.feedback">
                <span class="app-detail-subtitle">Ответ на заявку: </span>
                <span class="app-detail-item-content app-detail-reply-content"
                    ><p>{{ model.feedback }}</p></span
                >
            </div> -->

            <div class="app-detail-files">
                <span class="app-detail-subtitle">Прикрепленные файлы: </span>
                <span class="app-detail-item-files">
                    <ul class="app-detail-list-file">
                        <li *ngFor="let file of model.files" (click)="download(file)">
                            <span class="material-symbols-outlined"
                                >description</span
                            >
                            <span class="files-name">{{ file }}</span>
                        </li>
                    </ul>
                </span>

                <div class="open-response-box">
                    <button mat-raised-button (click)="openDialog()">
                        Ответить на заявку
                    </button>
                </div>
            </div>

            <hr class="header-bottom" />
            <div class="app-detail-feedback" *ngIf="1">
                <div class="feedback-author">
                    <span class="material-icons feeback-author-icon"
                        >account_circle</span
                    >
                    <span class="feeback-author-name"
                        >Депутат {{ model.recipient }}</span
                    >
                </div>

                <div class="feedback-content" *ngIf="1">
                    <span class="app-detail-subtitle">Ответ на заявку: </span>
                    <span
                        class="app-detail-item-content app-detail-reply-content"
                        ><p>{{ model.feedback }}</p></span
                    >
                </div>
            </div>

            <div class="app-detail-tags">
                <span class="app-detail-subtitle">Теги по заявке: </span>
                <span class="tags-list">#Дороги #Благоустройство</span>
            </div>
        </div>

        <div class="app-detail-discussion">
            <span class="discussion-title">Обсуждение</span>
            <span class="discussion-input"></span>
        </div>
    </ng-container>
</div>
